<p id="notice"><%= notice %></p>

<h1>Contas A Recebers</h1>

<table>
  <thead>
    <tr>
      <th>Data lancamento</th>
      <th>Descricao</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contas_a_recebers.each do |contas_a_receber| %>
      <tr>
        <td><%= contas_a_receber.data_lancamento %></td>
        <td><%= contas_a_receber.descricao %></td>
        <td><%= contas_a_receber.valor %></td>
        <td><%= link_to 'Show', contas_a_receber %></td>
        <td><%= link_to 'Edit', edit_contas_a_receber_path(contas_a_receber) %></td>
        <td><%= link_to 'Destroy', contas_a_receber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contas A Receber', new_contas_a_receber_path %>
