<p id="notice"><%= notice %></p>

<h1>Equipe X Pessoas</h1>

<table>
  <thead>
    <tr>
      <th>Equipe</th>
      <th>Pessoa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipe_pessoas.each do |equipe_pessoa| %>
      <tr>
        <td><%= equipe_pessoa.equipe_id %></td>
        <td><%= equipe_pessoa.pessoa_id %></td>
        <td><%= link_to 'Show', equipe_pessoa %></td>
        <td><%= link_to 'Edit', edit_equipe_pessoa_path(equipe_pessoa) %></td>
        <td><%= link_to 'Destroy', equipe_pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Vínculo Equipe X Pessoa', new_equipe_pessoa_path %>
