<p id="notice"><%= notice %></p>

<p>
  <strong>Equipe:</strong>
  <%= @equipe_pessoa.equipe_id %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @equipe_pessoa.pessoa_id %>
</p>

<%= link_to 'Edit', edit_equipe_pessoa_path(@equipe_pessoa) %> |
<%= link_to 'Back', equipe_pessoas_path %>
